<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PatientDataServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PatientDataServiceSoapBinding1" />
                <binding name="RelevationServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RelevationServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://air.di.unisa.it:8443/AIR-EJBWS/PatientDataService/PatientDataWebService"
                binding="basicHttpBinding" bindingConfiguration="PatientDataServiceSoapBinding"
                contract="DatiPaziente.PatientDataWebService" name="PatientDataServicePort" />
            <endpoint address="https://air.di.unisa.it:8443/AIR-EJBWS/RelevationService/RelevationWebService"
                binding="basicHttpBinding" bindingConfiguration="RelevationServiceSoapBinding"
                contract="RilevazioneDati.RelevationWebService" name="RelevationServicePort" />
        </client>
    </system.serviceModel>
</configuration>